
<div class="carousel-band">
  <div class="carousel">
    <div class="carousel-container">
      {{#each projects}}
          <div class="slide">
              <div class="slide-text">
                  <h2 class="slide-title">
                      <a href="/project/{{this.slug}}">
                          {{this.name}}
                      </a>
                  </h2>
                  <p class="slide-description">{{this.descriptions.[0].content}}</p>
              </div>
              {{#if this.descriptions.[0].images.[0]}}
                  <div class="slide-image-wrapper">
                      <img 
                          src="{{this.descriptions.[0].images.[0].url}}" 
                          alt="{{this.descriptions.[0].images.[0].alt}}" 
                          class="project-image"
                      >
                  </div>
              {{/if}}
          </div>
      {{/each}}
    </div>
  </div>

  <div class="carousel-controls">
    <button class="control prev" onclick="prevSlide()">⬅</button>
    <div class="carousel-indicators">
      {{#each projects}}
        <div class="indicator" onclick="goToSlide({{@index}})"></div>
      {{/each}}
    </div>
    <button class="control next" onclick="nextSlide()">➡</button>
  </div>
</div>

<!-- carousel-specific styles are now included in /styles.css -->
<!-- carousel behaviour moved to external script -->
<script src="/carousel.js" defer></script>
